.App {
  text-align: left;
  padding-top: 5em; 
  /* background-image: url('../src/bg.jpeg'); */
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.App-body {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the left */
  padding: 280px;
  background-color: #282c34;
  height: calc(100vh - 5em); /* Full height minus the navbar height */
  box-sizing: border-box;
  color: white; /* Ensure text is visible */
}

.typing-section {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the left */
  margin-top: 20px; /* Add some space between sections */
  margin-bottom: 20px; /* Add some space between sections */
  /* width: 80%; */
}

.typing-section h2{
  color: pink;
  font-size: 3em;
}

.typing-effect {
  font-size:3em;
  font-weight: bold;
  color: white;
}

.caret {
  display: inline-block;
  width: 10px;
  background-color: blue;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}