.connect-section{
    margin: 0 auto;
    padding: 20px;
    width: 98%; 
    height: 88vh;
    background-image: url(backgr.jpeg);
}
.connect-section h2 {
    text-align: center; 
    margin-bottom: 10px;
    font-weight: bold; 
    color: white;
    font-size: 2rem;
    }

.icon-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 200px;
}
    
.icon-container a {
margin: 0 100px;
}   

.icon {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: white; 
    display: flex; 
    align-items: center;
    justify-content: center;
}    