
.home-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background-image: url('_\ \(1\).jpeg');
color: #fff;
}

.content {
display: flex;
justify-content: space-between;
width: 80%;
}

.text-section {
max-width: 60%;
padding: 0 20px;
}

.text-section h2,
.text-section h1 {
margin: 10px 0;
}

.photo-section {
max-width: 30%;
}

.photo-section img {
width: 100%;
}
