.skill-container {
    margin: 0 auto;
    padding: 20px;
    width: 98%; 
    height: 88vh;
    background-image: url(backgr.jpeg);
}

.skill-container h2 {
text-align: center;
color:burlywood;
font-size: 4em;
}

.icon-list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.icon-item .icon {
    height: 8em;
    width: 8em;
    color: black;
    margin: 50px;
}

.icon-item p{
    text-align: center;
    font-size: 1.5em;
    color: burlywood;
    font-weight: bold;
    /* color: rgb(112, 6, 6);
    font-weight: bold; */
} 
